.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#222;
color:white;
}

.nav-buttons{
display:flex;
gap:10px;
}

.navbar button{
padding:8px 15px;
border:none;
background:#25d366;
color:white;
border-radius:5px;
cursor:pointer;
}

.navbar button:hover{
background:#1da851;
}